@import "../../../styles/config";

$food-smile-selector: food-smile;
$food-smile-size: 150px;
$food-smile-character-types: scales battery bread egg apple salmon milk sausage candy strawberry burger fries;
$food-smile-scene-types: danger sad happy exciting;

.#{$food-smile-selector} {

  display: inline-block;
  vertical-align: middle;

  i {
    display: inline-block;
    background-image: url("food_smileys.svg");
    height: $food-smile-size;
    width: $food-smile-size;
    // We set height to make it work in IE. Make sure svg file has preserveAspectRatio="xMinYMid" attribute.
    background-size: auto length($food-smile-character-types)*100%;
  }

  &.#{$food-smile-selector} {
    @each $food-type in $food-smile-character-types {
      $i: index($food-smile-character-types, $food-type) - 1;
      &-#{$food-type} {
        i {
          background-position-y: -$i*$food-smile-size;
        }
      }
    }

    @each $scene-type in $food-smile-scene-types {
      $i: index($food-smile-scene-types, $scene-type) - 1;
      &-#{$scene-type} {
        i {
          background-position-x: -$i*$food-smile-size;
        }
      }
    }
  }

}

