@import "../../../styles/config";

$user-demographic-info-selector: user-demographic-info;
$profile-picture-size: 100px;
$fold-width: 960px;

.profile {
  &-letter,
  &-picture {
    display: block;
    width: $profile-picture-size;
    height: $profile-picture-size;
    background-color: cornflowerblue;
    border-radius: 100%;
    box-shadow: 2px 2px 0px 5px $brand-color;
    border: 3px solid #fff;
    float: none;
    margin: auto;
    position: relative;
  }

  &-letter {
    text-align: center;
    &-content {
      line-height: 1em;
      font-size: 0.9 * $profile-picture-size;
      vertical-align: middle;
      font-family: 'Slabo 27px', cursive;
      color: #283b5f;
      text-shadow: 2px 4px 0px #4b6fb1;
    }
  }

  &-picture {
    background-image: url("./boy.svg");
  }

  &-info {
    float: none;
    text-align: center;

    ul {

      li {
        text-align: left;
        &:first-child {
          padding-right: 10px;
          border-right: 1px solid #999;
        }
        &:last-child {
          padding-left: 10px;
        }
      }

    }

  }
}

