<div class="feedback-playing-card">
  <div class="feedback-playing-card-pic"
       [ngClass]="sceneClass">
    <div class="feedback-playing-card-background"
    ></div>
    <food-smile *ngIf="smileyIsVisible"
                [character]="characterDescription.characterType"
                [scene]="characterDescription.characterSentiment.sentimentType"></food-smile>
  </div>
  <div class="feedback-playing-card-body">
    <!--<h5>{{characterDescription.characterSentiment.title}}</h5>-->
    <p class="separated" *ngFor="let des of getResultedDemographicTitle()">
      <span>{{des.title}}</span>
      <span class="text-nowrap">
        <span [ngClass]="des.textClass">{{des.consumption}}{{des.units}}&nbsp;<i class="fa" [ngClass]="des.iconClass"></i></span>&nbsp;{{des.targetConsumption.toString()}}{{des.units}}
      </span>
    </p>
  </div>
  <div class="feedback-playing-card-btns">
    <button type="button"
            class="btn btn-outline-primary btn-block feedback-playing-card-btns-single"
            (click)="tellMeMore()">
      Tell me more
    </button>
  </div>
</div>
