/* You can add global styles to this file, and also import other style files */
@import "bootstrap-fix";
@import "background";

body {
  font-family: 'Muli', serif;
}

h1 {
  font-family: 'Bahiana', cursive;
  color: #ea4a1f;
}

h2, h3, h4, h5 {
  font-family: 'Slabo 27px', cursive;
}

.background-white {
  background: #fff;
}

.i24-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 999;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  margin-left: -35px;
  margin-top: -9px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #ea4a1f;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0)
  }
  40% {
    -webkit-transform: scale(1.0)
  }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}


