<i24-welcome-modal>
  <div class="text-center">
    <i24-icon-frame>
      <food-smile [character]="characterType" [scene]="characterSentiment"></food-smile>
    </i24-icon-frame>
    <h1 class="display-4 text-white">Great!</h1>
    <h2 class="text-white">I only need to ask a few things about you</h2>
  </div>
  <form>
    <bm-form-control-material [(ngModel)]="name" [label]="'First name'" name="userName"></bm-form-control-material>
    <bm-form-control-material [(ngModel)]="yearOfBirth" [label]="'Year of birth, e.g. 1988'" name="yearOfBirth"></bm-form-control-material>
    <bm-form-control-material [(ngModel)]="weight" [label]="'Weight in kilograms'" name="weight"></bm-form-control-material>
    <bm-form-control-material [(ngModel)]="height" [label]="'Height in centimeters'" name="height"></bm-form-control-material>
    <div class="form-group form-group-material form-group-white">
      <select class="form-control">
        <option>Moderate</option>
      </select>
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-lg btn-block">
        Yep, that's me
      </button>
    </div>
  </form>
</i24-welcome-modal>
