<i24-welcome-modal>
  <div class="text-center">
    <i24-icon-frame>
      <food-smile [character]="characterType" [scene]="characterSentiment"></food-smile>
    </i24-icon-frame>
    <h1 class="display-4 text-white">Great!</h1>
    <h2 class="text-white">I only need to ask a few things about you</h2>
  </div>
  <form>
    <bm-input class="bm-material-white" [(ngModel)]="name" [label]="'First name'" name="userName"></bm-input>
    <bm-select class="bm-material-white" [(ngModel)]="sex" [label]="'Sex'" name="sex">
      <option *ngFor="let sex of sexOptions" [value]="sex.value">
        {{sex.text}}
      </option>
    </bm-select>
    <bm-select class="bm-material-white" [(ngModel)]="yearOfBirth" [label]="'Year of birth'" name="yearOfBirth">
      <option *ngFor="let year of yearsOptions" [value]="year">
        {{year}}
      </option>
    </bm-select>
    <bm-input class="bm-material-white" [(ngModel)]="height" [label]="'Height in centimeters'" name="height"></bm-input>
    <bm-input class="bm-material-white" [(ngModel)]="weight" [label]="'Weight in kilograms'" name="weight"></bm-input>
    <bm-select class="bm-material-white" [(ngModel)]="physicalActivityLevelId" [label]="'Physical activity'" name="physicalActivityLevelId">
      <option *ngFor="let pal of physicalActivityLevels" [value]="pal.id">
        {{pal.name}}
      </option>
    </bm-select>
    <div class="form-group">
      <button type="button" class="btn btn-primary btn-lg btn-block"
              [disabled]="!getFormIsValid()"
              (click)="save()">
        Yep, that's me
      </button>
    </div>
  </form>
</i24-welcome-modal>
