<i24-loader [isVisible]="isLoading"></i24-loader>

<div *ngIf="results">

  <i24-consent-alert></i24-consent-alert>

  <div class="pt-5">
    <user-demographic-info *ngIf="userDemographic"
                           [userDemographic]="userDemographic"
                           [daysRecorded]="daysRecorded"></user-demographic-info>
  </div>

  <div class="container-fluid pt-2">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
          <h1 class="display-1 text-center mb-2">Story of your Diet</h1>
        </i24-appear-in-viewport>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-2" *ngIf="daysRecorded > 0">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
          <i24-day-counter [dayNumber]="currentDay" (dayNumberChange)="buildView($event)"
                           [totalDays]="daysRecorded"></i24-day-counter>
        </i24-appear-in-viewport>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-2 mb-4">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">

        <div class="row no-gutters">

          <div class="col-12 row hidden-md-down">

            <div class="col-4" *ngFor="let itemsInCol of resultsInThreeCols; let j=index;">
              <i24-appear-in-viewport *ngFor="let item of itemsInCol; let i=index;"
                                      [animation]="cardsAnimation"
                                      [scrollOffset]="250"
                                      [animationDelay]="(i+j)*50">
                <feedback-playing-card [characterDescription]="item"
                                       (onTellMeMore)="onTellMeMore($event)"></feedback-playing-card>
              </i24-appear-in-viewport>
            </div>

          </div>

          <div class="col-12 row hidden-sm-down hidden-lg-up">

            <div class="col-6" *ngFor="let itemsInCol of resultsInTwoCols; let j=index;">
              <i24-appear-in-viewport *ngFor="let item of itemsInCol; let i=index;"
                                      [animation]="cardsAnimation"
                                      [scrollOffset]="250"
                                      [animationDelay]="(i+j)*100">
                <feedback-playing-card [characterDescription]="item"
                                       (onTellMeMore)="onTellMeMore($event)"></feedback-playing-card>
              </i24-appear-in-viewport>
            </div>

          </div>

          <div class="col-12 row hidden-md-up no-gutters">

            <div class="col-12" *ngFor="let itemsInCol of resultsInOneCols; let j=index;">
              <i24-appear-in-viewport *ngFor="let item of itemsInCol; let i=index;"
                                      [animation]="cardsAnimation"
                                      [scrollOffset]="250"
                                      [animationDelay]="(i+j)*100">
                <feedback-playing-card [characterDescription]="item"
                                       (onTellMeMore)="onTellMeMore($event)"></feedback-playing-card>
              </i24-appear-in-viewport>
            </div>

          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="container-fluid pt-4 pb-4 mb-4 background-white">
    <div class="row">
      <div class="col-lg-10 offset-lg-1">
        <div class="row">
          <div class="col-12 row">
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 mb-2">
              <i24-pie-chart [data]="caloriesChartData" [animateDelay]="200"></i24-pie-chart>
              <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
                <h1>Highest in calories</h1>
              </i24-appear-in-viewport>
              <i24-animated-list [total]="totalCalorieIntake"
                                 [items]="foodHighInCalories"
                                 [classList]="colorClasses"
                                 [nutrientTypeId]="nutrientTypeIdEnergy"
                                 [showPerDay]="currentDay == null"></i24-animated-list>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 mb-2">
              <i24-pie-chart [data]="sugarChartData" [animateDelay]="400"></i24-pie-chart>
              <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
                <h1>Highest in sugar</h1>
              </i24-appear-in-viewport>
              <i24-animated-list [total]="totalSugarIntake"
                                 [items]="foodHighInSugar"
                                 [classList]="colorClasses"
                                 [animationDelay]="400"
                                 [nutrientTypeId]="nutrientTypeIdSugar"
                                 [showPerDay]="currentDay == null"></i24-animated-list>
            </div>
            <div class="col-lg-4 offset-lg-0 col-md-6 offset-md-3 col-sm-8 offset-sm-2 mb-2">
              <i24-pie-chart [data]="satFatChartData" [animateDelay]="500"></i24-pie-chart>
              <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
                <h1>Highest in saturated fat</h1>
              </i24-appear-in-viewport>
              <i24-animated-list [total]="totalSatFatIntake"
                                 [items]="foodHighInSatFat"
                                 [classList]="colorClasses"
                                 [animationDelay]="500"
                                 [nutrientTypeId]="nutrientTypeIdSatFat"
                                 [showPerDay]="currentDay == null"></i24-animated-list>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid pt-4 pb-4 mb-4">
    <div class="row">
      <div class="col-md-6 offset-md-3">

        <div class="mb-5">
          <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
            <h2 class="text-center">
              Record another day to make your feedback more accurate
            </h2>
          </i24-appear-in-viewport>
          <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
            <a [href]="surveyPath" class="btn btn-outline-primary btn-block btn-lg">
              Record another day
            </a>
          </i24-appear-in-viewport>
        </div>

        <i24-appear-in-viewport [animation]="textAnimation" [scrollOffset]="160">
          <i24-feedback-helpful></i24-feedback-helpful>
        </i24-appear-in-viewport>

      </div>
    </div>
  </div>

  <i24-footer></i24-footer>

</div>

<i24-tell-me-more [(active)]="tellMeMoreVisible" [details]="tellMeMoreDetails"></i24-tell-me-more>
