<i24-appear-in-viewport [animation]="animation" [animationDelay]="animationDelay" [scrollOffset]="100">
  <ol class="chart-list">
    <li class="h5"
        *ngFor="let food of items; let i = index;"
        [ngClass]="classList[i]">
      {{food.localName}}:
      <strong class="text-nowrap">
        {{food.getConsumption(nutrientTypeId)}}
        {{nutrientService.getUnitByNutrientTypeId(nutrientTypeId).get}}{{showPerDay ? '/day' : ''}}
      </strong>
    </li>
  </ol>
  <h4 class="nutrient-summary">
    Total intake: {{total}}&nbsp;{{nutrientService.getUnitByNutrientTypeId(nutrientTypeId).get}}{{showPerDay ? '/day' : ''}}
  </h4>
</i24-appear-in-viewport>
