<div class="modal" *ngIf="active" [@modalAnimateState]="active">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" (click)="close()">
          &times;
        </button>

        <div *ngFor="let det of details; let index = index;">
          <div class="border-bottom pt-4 mb-4" [class.border-top]="index > 0">
            <h2>{{det.title}}</h2>
            <div class="row mb-2">
              <div class="col-6">
                <strong>Estimated intake:</strong>
                <span class="text-nowrap">
                  <span [ngClass]="det.textClass">{{det.consumption}}{{det.units}}</span>
                  <button type="button"
                          class="btn btn-outline-primary btn-sm btn-rounded"
                          title="Explain the estimate"
                          *ngIf="det.unitDescription"
                          (click)="toggleAlert()">
                    ?
                  </button>
                </span>
              </div>
              <div class="col-6">
                <strong>Optimal intake:</strong>
                <span class="text-nowrap">
                  {{det.targetConsumption.toString()}}{{det.units}}
                </span>
              </div>
            </div>
            <anm-c [display]="false" [action]="alertAnimation" *ngIf="det.unitDescription">
              <div class="alert alert-info">
                {{det.unitDescription}}
              </div>
            </anm-c>
            <div *ngIf="det.warning" class="alert alert-warning" [innerHTML]="det.warning">
            </div>
          </div>
          <p [innerHTML]="det.description"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">Got it!</button>
      </div>
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="active" [@backdropAnimateState]="active"></div>
