<div class="modal" *ngIf="active" [@modalAnimateState]="active">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close" (click)="close()">
          &times;
        </button>
        <div *ngFor="let det of details">
          <h2>{{det.title}}</h2>
          <div class="row">
            <div class="col-6">
              <strong>Estimated intake:</strong>
              <span [ngClass]="det.textClass">{{det.consumption}}{{det.units}}</span>
            </div>
            <div class="col-6">
              <strong>Optimal intake:</strong>
              <span class="text-nowrap">
                {{det.targetConsumption.start}}-{{det.targetConsumption.end}}{{det.units}}
              </span>
            </div>
          </div>
          <p [innerHTML]="det.description"></p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="close()">Got it!</button>
      </div>
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="active" [@backdropAnimateState]="active"></div>
