<ng-template #consentBlock>
  <div class="alert alert-info consent-alert">
    <p>
      The feedback is based on the food intake information you have given,
      the Eatwell Guide and UK dietary reference values and is suitable for healthy individuals.
      For dietary advice relating to a specific health condition
      (such as diabetes or hypertension) please see your GP.
    </p>
    <div class="text-right d-print-none">
      <button type="button" class="btn btn-outline-primary" (click)="acceptConsent()">
        Got it!
      </button>
    </div>
  </div>
</ng-template>

<anm-c class="d-print-none" [action]="animationState" [display]="false">
  <ng-container *ngTemplateOutlet="consentBlock"></ng-container>
</anm-c>

<div class="d-none d-print-block">
  <ng-container *ngTemplateOutlet="consentBlock"></ng-container>
</div>
