<div class="text-center" *ngIf="iconIsVisible">
  <food-smile [character]="characterType" [scene]="characterSentiment"></food-smile>
</div>
<animate [action]="feedbackRequestAnimation" [display]="false" (onHidden)="onFeedbackRequestDisappeared($event)">
  <h2 class="text-center">
    Was our feedback helpful?
  </h2>
  <div class="text-center mb-4">
    <button class="btn btn-lg btn-outline-danger" [class.active]="disliked" (click)="dislike()">
      <i class="fa fa-thumbs-down"></i>
    </button>
    <button class="btn btn-lg btn-outline-primary" [class.active]="liked" (click)="like()">
      <i class="fa fa-thumbs-up"></i>
    </button>
  </div>
</animate>
<animate [action]="thankYouAnimation" [display]="false">
  <h2 class="text-center">Thank you so much!</h2>
</animate>

<div class="modal" *ngIf="modalIsActive" [@modalAnimateState]="modalIsActive">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <button type="button" class="close"
                (click)="closeModal()"
                [disabled]="submitting">
          &times;
        </button>
        <div>
          <div class="text-center" *ngIf="iconIsVisible">
            <food-smile [character]="characterType" [scene]="characterSentiment"></food-smile>
          </div>
          <animate [action]="feedbackRequestAnimation" [display]="false"
                   (onHidden)="onFeedbackRequestDisappeared($event)">
            <h2 class="text-center">
              Was our feedback helpful?
            </h2>
            <div class="text-center mb-4">
              <button class="btn btn-lg btn-outline-danger" [class.active]="disliked" (click)="dislike()">
                <i class="fa fa-thumbs-down"></i>
              </button>
              <button class="btn btn-lg btn-outline-primary" [class.active]="liked" (click)="like()">
                <i class="fa fa-thumbs-up"></i>
              </button>
            </div>
            <animate [action]="feedbackFormAnimation" [display]="false">
              <div class="form-group">
                <bm-textarea class="bm-material-primary"
                             [label]="'What could we do better?'"
                             [(ngModel)]="feedbackText"></bm-textarea>
              </div>
              <div class="form-group">
                <button type="button" class="btn btn-primary btn-block"
                        (click)="submitFeedback()"
                        [disabled]="submitting">
                  {{ submitting ? 'Submitting...' : 'Submit'}}
                </button>
              </div>
            </animate>
          </animate>
          <animate [action]="thankYouAnimation" [display]="false">
            <h2 class="text-center">Thank you so much!</h2>
            <button type="button" class="btn btn-secondary btn-block"
                    (click)="closeModal()"
                    [disabled]="submitting">Close
            </button>
          </animate>
          <animate [action]="tooMuchOfFeedbackAnimation" [display]="false">
            <h2 class="text-center">
              We've already received your previous feedback.
              If you want to submit another one please come back later.
            </h2>
            <button type="button" class="btn btn-secondary btn-block"
                    (click)="closeModal()"
                    [disabled]="submitting">Close
            </button>
          </animate>
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal-backdrop" *ngIf="modalIsActive" [@backdropAnimateState]="modalIsActive"></div>
