/* You can add global styles to this file, and also import other style files */
@import "bootstrap-fix";

body {
  font-family: 'Muli', serif;
}

h1 {
  font-family: 'Bahiana', cursive;
}

h5 {
  font-family: 'Slabo 27px', cursive;
}

